@model IEnumerable<CRUDResearchLabFinal.Models.LabMember>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebPage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortCV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberCategory.CategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebPage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortCV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberCategory.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LabMembersID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LabMembersID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LabMembersID })
        </td>
    </tr>
}

</table>
