@model CRUDResearchLabFinal.Models.Publication

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Publication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ThematicUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThematicUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicationYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabAnnouncement.Announcement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabAnnouncement.Announcement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabMember.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabMember.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicationMedia.PublicationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationMedia.PublicationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResearchProject.Running)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResearchProject.Running)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PublicationsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
