@model IEnumerable<CRUDResearchLabFinal.Models.Cours>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Undergraduate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postgraduate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabAnnouncement.Announcement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabMember.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Undergraduate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postgraduate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabAnnouncement.Announcement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabMember.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CoursesID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CoursesID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CoursesID })
        </td>
    </tr>
}

</table>
